.footer-menu {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__item {
        max-width: 37.5rem;
        margin-bottom: 3.9rem;
        padding-bottom: 2rem;

        border-style: solid;
        border-color: rgba($color: #fff, $alpha: 0.2);
        border-width: 0 0 1px 0;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-width: 0;
        }

        @include breakpoint(portrait-tablet) {
            max-width: 100%;
        }
    }

    &__link {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 1rem;
        justify-content: space-between;

        .icon-link {
            width: 2.4rem;
            height: 2.4rem;
            stroke: var(--white-color, #fff);
            opacity: 0.5;
            will-change: transform;
            transition: 0.3s ease-out;
        }

        span {
            &.h3 {
                @include breakpoint(laptop) {
                    font: 600 2rem/1.27 var(--second-ff);
                }
            }
        }

        &:hover {
            .icon-link {
                transform: rotate(45deg);
                opacity: 1;
            }
        }
    }
}
