.form {
    &__rows {
        display: flex;
        flex-direction: column;
    }

    &__row {
        position: relative;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        .parsley-errors-list {
            position: absolute;
            top: 100%;
            left: 0;

            > * {
                font-size: 1.2rem;
            }
        }
    }

    &__submit {
        display: flex;
        align-items: center;
        margin-top: 3rem;
        column-gap: 3rem;

        @include breakpoint(laptop) {
            flex-direction: column;
            align-items: stretch;
            column-gap: 0;
        }
    }

    &__button {
        @include breakpoint(laptop) {
            margin-bottom: 3rem;
        }
    }

    &__agreement {
        p {
            font: var(--font-p-main-14);
            line-height: 1.5;
            font-weight: 300;

            span {
                opacity: 0.6;
            }

            a {
                color: inherit;
                font: inherit;
                font-weight: 300;
                text-decoration: underline;
                opacity: 0.6;
                transition: 0.3s ease;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
