{{#extend "layout"}}
{{#content "main"}}

<section class="padding-top-breadcrumbs simple-section simple-section--intro">
    <div class="simple-section__site-container">
        <h1 class="h2 simple-section__title">
            Партнёрам
        </h1>

        <div class="simple-section__article">
            <div>
                <h2>Внутренний заголовок страницы H2</h2>

                <p>
                    Жирмунский, однако, настаивал, что синхрония доступна.
                    Анжамбеман семантически отражает хорей. Представленный
                    лексико-семантический анализ является психолингвистическим
                    в своей основе, но графомания возможна.
                </p>
            </div>

            <div>
                <h3>Большой заголовок H3</h3>

                <div>
                    <blockquote>
                        Жирмунский, однако, настаивал, что синхрония доступна.
                        Анжамбеман семантически отражает хорей. Представленный
                        <a href="#">лексико-семантический анализ</a> является
                        психолингвистическим в своей основе, но графомания возможна.
                    </blockquote>

                    <q>
                        Алексей Кизляр, руководитель отдела маркетинга
                    </q>

                    <i>
                        Подтекст, если уловить хореический ритм или аллитерацию
                        на "р", иллюстрирует культурный размер. <s>Голос персонажа
                        интуитивно понятен.</s> Субъективное восприятие вразнобой
                        нивелирует дольник. Ритмический рисунок, чтобы уловить
                        хореический ритм или аллитерацию на "л", неумеренно
                        начинает ритм.
                    </i>
                </div>

                <figure>
                    <div>
                        <picture>
                            <source media="(max-width: 768px)" type="image/webp" srcset="./img/article/image-mobile.webp" alt="article image"/>
                            <source media="(min-width: 768px)" type="image/webp" srcset="./img/article/image.webp" alt="article image"/>
                            <img class="lazy" src="./img/article/image.jpg"
                                alt="article image" />
                        </picture>
                        <figcaption>article image</figcaption>
                    </div>
                </figure>

            </div>

            <div>
                <h4>Подзаголовок H4</h4>

                <div>
                    <ul>
                        <li>
                            Жирмунский, однако, настаивал, что синхрония доступна.
                        </li>

                        <li>
                            Анжамбеман семантически отражает хорей.
                        </li>

                        <li>
                            Представленный <a href="#">лексико-семантический анализ</a> является
                            психолингвистическим в своей основе, но графомания возможна.
                        </li>
                    </ul>

                    <ol>
                        <li>
                            Жирмунский, однако, настаивал, что синхрония доступна.
                        </li>

                        <li>
                            Анжамбеман семантически отражает хорей.
                        </li>

                        <li>
                            Представленный <a href="#">лексико-семантический анализ</a> является
                            психолингвистическим в своей основе, но графомания возможна.
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="advantages-section section color-white bg-black">
    <div class="advantages-section__site-container">
        <div class="advantages-section__title h1">
            <p>
                <span class="color-yellow">New Technologies&nbsp;</span>
                <span>выбирают</span>
            </p>
            <p>
                <span>тысячи людей&nbsp;</span>
                <span class="color-yellow"> по всему миру</span>
            </p>
        </div>

        <ul class="advantages-section__list">
            <li class="advantages-section__item">
                <span class="advantages-section__count">01</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/trending-up.png" alt="advantages trending up icon">

                    <p>
                        Обеспечиваем&nbsp;<span class="color-yellow">высокий<br> уровень</span>&nbsp;автоматизации<br> и диспетчеризации
                    </p>
                </div>
            </li>
            <li class="advantages-section__item">
                <span class="advantages-section__count">02</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/thumb-up.png" alt="advantages thumb up icon">

                    <p>
                        <span class="color-yellow">3000 +</span>&nbsp;клиентов<br> доверили свои бизнес&shy;-процеессы
                    </p>
                </div>
            </li>
            <li class="advantages-section__item">
                <span class="advantages-section__count">03</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/transport.png" alt="advantages transport icon">

                    <p>
                        <span class="color-yellow">Быстрая доставка</span><br> оборудования&nbsp;с<br> гарантией
                    </p>
                </div>
            </li>
            <li class="advantages-section__item">
                <span class="advantages-section__count">04</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/support.png" alt="advantages support icon">

                    <p>
                        Все сделки&nbsp;<span class="color-yellow">проводятся с договорами</span>&nbsp;и гарантией&nbsp;с<br> нашей стороны
                    </p>
                </div>
            </li>
            <li class="advantages-section__item">
                <span class="advantages-section__count">05</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/trending-up.png" alt="advantages trending up icon">

                    <p>
                        Обеспечиваем&nbsp;<span class="color-yellow">высокий<br> уровень</span>&nbsp;автоматизации<br> и диспетчеризации
                    </p>
                </div>
            </li>
            <li class="advantages-section__item">
                <span class="advantages-section__count">06</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/thumb-up.png" alt="advantages thumb up icon">

                    <p>
                        <span class="color-yellow">3000 +</span>&nbsp;клиентов<br> доверили свои бизнес&shy;-процеессы
                    </p>
                </div>
            </li>
            <li class="advantages-section__item">
                <span class="advantages-section__count">07</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/transport.png" alt="advantages transport icon">

                    <p>
                        <span class="color-yellow">Быстрая доставка</span><br> оборудования&nbsp;с<br> гарантией
                    </p>
                </div>
            </li>
            <li class="advantages-section__item">
                <span class="advantages-section__count">08</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/support.png" alt="advantages support icon">

                    <p>
                        Все сделки&nbsp;<span class="color-yellow">проводятся с договорами</span>&nbsp;и гарантией&nbsp;с<br> нашей стороны
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="faq-section faq-section--bordered">
    <div class="faq-section__site-container">
        <h2 class="h2 faq-section__title">
            Отвечаем на популярные вопросы
        </h2>

        <div class="double-grid faq-section__double-grid">
            <div class="faq-section__left double-grid__left">
                <ul class="faq-section__list">
                    <li class="faq-section__item faq">
                        <input class="visually-hidden" checked hidden type="radio" name="faq-radio" id="faq-1">
                        <label for="faq-1" class="faq__button">
                            <span class="faq__question">
                                Вопрос в одну строку
                            </span>

                            <span class="faq__icon"></span>
                        </label>
                        <div class="faq__dropdown">
                            <p>
                                Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман
                                семантически отражает хорей. Представленный лексико-семантический
                                анализ является психолингвистическим в своей основе, но графомания
                                возможна
                            </p>
                            <p>
                                Подтекст, если уловить хореический ритм или аллитерацию на "р",
                                иллюстрирует культурный размер. Голос персонажа интуитивно понятен.
                                Субъективное восприятие вразнобой нивелирует дольник. Ритмический
                                рисунок, чтобы уловить хореический ритм или аллитерацию на "л",
                                неумеренно начинает ритм.
                            </p>
                        </div>
                    </li>
                    <li class="faq-section__item faq">
                        <input class="visually-hidden" hidden type="radio" name="faq-radio" id="faq-2">
                        <label for="faq-2" class="faq__button">
                            <span class="faq__question">
                                Вопрос в одну строку
                            </span>

                            <span class="faq__icon"></span>
                        </label>
                        <div class="faq__dropdown">
                            <p>
                                Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман
                                семантически отражает хорей. Представленный лексико-семантический
                                анализ является психолингвистическим в своей основе, но графомания
                                возможна
                            </p>
                            <p>
                                Подтекст, если уловить хореический ритм или аллитерацию на "р",
                                иллюстрирует культурный размер. Голос персонажа интуитивно понятен.
                                Субъективное восприятие вразнобой нивелирует дольник. Ритмический
                                рисунок, чтобы уловить хореический ритм или аллитерацию на "л",
                                неумеренно начинает ритм.
                            </p>
                        </div>
                    </li>
                    <li class="faq-section__item faq">
                        <input class="visually-hidden" hidden type="radio" name="faq-radio" id="faq-3">
                        <label for="faq-3" class="faq__button">
                            <span class="faq__question">
                                Вопрос в одну строку
                            </span>

                            <span class="faq__icon"></span>
                        </label>
                        <div class="faq__dropdown">
                            <p>
                                Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман
                                семантически отражает хорей. Представленный лексико-семантический
                                анализ является психолингвистическим в своей основе, но графомания
                                возможна
                            </p>
                            <p>
                                Подтекст, если уловить хореический ритм или аллитерацию на "р",
                                иллюстрирует культурный размер. Голос персонажа интуитивно понятен.
                                Субъективное восприятие вразнобой нивелирует дольник. Ритмический
                                рисунок, чтобы уловить хореический ритм или аллитерацию на "л",
                                неумеренно начинает ритм.
                            </p>
                        </div>
                    </li>
                    <li class="faq-section__item faq">
                        <input class="visually-hidden" hidden type="radio" name="faq-radio" id="faq-4">
                        <label for="faq-4" class="faq__button">
                            <span class="faq__question">
                                Вопрос в одну строку
                            </span>

                            <span class="faq__icon"></span>
                        </label>
                        <div class="faq__dropdown">
                            <p>
                                Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман
                                семантически отражает хорей. Представленный лексико-семантический
                                анализ является психолингвистическим в своей основе, но графомания
                                возможна
                            </p>
                            <p>
                                Подтекст, если уловить хореический ритм или аллитерацию на "р",
                                иллюстрирует культурный размер. Голос персонажа интуитивно понятен.
                                Субъективное восприятие вразнобой нивелирует дольник. Ритмический
                                рисунок, чтобы уловить хореический ритм или аллитерацию на "л",
                                неумеренно начинает ритм.
                            </p>
                        </div>
                    </li>
                    <li class="faq-section__item faq">
                        <input class="visually-hidden" hidden type="radio" name="faq-radio" id="faq-5">
                        <label for="faq-5" class="faq__button">
                            <span class="faq__question">
                                Вопрос в одну строку
                            </span>

                            <span class="faq__icon"></span>
                        </label>
                        <div class="faq__dropdown">
                            <p>
                                Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман
                                семантически отражает хорей. Представленный лексико-семантический
                                анализ является психолингвистическим в своей основе, но графомания
                                возможна
                            </p>
                            <p>
                                Подтекст, если уловить хореический ритм или аллитерацию на "р",
                                иллюстрирует культурный размер. Голос персонажа интуитивно понятен.
                                Субъективное восприятие вразнобой нивелирует дольник. Ритмический
                                рисунок, чтобы уловить хореический ритм или аллитерацию на "л",
                                неумеренно начинает ритм.
                            </p>
                        </div>
                    </li>
                    <li class="faq-section__item faq">
                        <input class="visually-hidden" hidden type="radio" name="faq-radio" id="faq-6">
                        <label for="faq-6" class="faq__button">
                            <span class="faq__question">
                                Вопрос в одну строку
                            </span>

                            <span class="faq__icon"></span>
                        </label>
                        <div class="faq__dropdown">
                            <p>
                                Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман
                                семантически отражает хорей. Представленный лексико-семантический
                                анализ является психолингвистическим в своей основе, но графомания
                                возможна
                            </p>
                            <p>
                                Подтекст, если уловить хореический ритм или аллитерацию на "р",
                                иллюстрирует культурный размер. Голос персонажа интуитивно понятен.
                                Субъективное восприятие вразнобой нивелирует дольник. Ритмический
                                рисунок, чтобы уловить хореический ритм или аллитерацию на "л",
                                неумеренно начинает ритм.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="faq-section__right double-grid__right">
                <div class="faq-section__image-wrapper">
                    <div class="faq-section__picture">
                        <picture>
                            <source type="image/webp" srcset="./img/faq/pic.webp" alt="hero image"/>
                            <img class="lazy" src="./img/faq/pic.jpg"
                                alt="city image" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}
