{{#extend "layout"}}
{{#content "main"}}

<section class="padding-top-breadcrumbs home">
    <div class="home__images-slider">
        <div class="home__images-swiper home__images-swiper--blue home__images-swiper--no-after swiper">
            <ul class="home__swiper-wrapper swiper-wrapper">
                <li class="home__swiper-slide swiper-slide">
                    <picture>
                        <source media="(max-width: 992px)" type="image/webp" srcset="./img/hero/services/picture-mobile.webp" alt="hero image"/>
                        <source media="(min-width: 992px)" type="image/webp" srcset="./img/hero/services/picture.webp" alt="hero image"/>
                        <img class="lazy" src="./img/hero/services/picture.jpg"
                            alt="city image" />
                    </picture>
                </li>
            </ul>
        </div>
    </div>

    <div class="home__info-slider home__info-slider--center color-white">
        <div class="home__site-container">
            <h2 class="h2 home__title">
                Полный комплекс услуг<br>
                по доставке оборудования из Китая
            </h2>

            <a href="#callback-modal" class="button button--second home__button js-open-modal">
                <span>Получить консультацию</span>
                <svg class="icon icon-enter">
                    <use xlink:href="#enter"></use>
                </svg>
            </a>
        </div>
    </div>
</section>

<section class="section categories-section">
    <div class="categories-section__site-container">
        <div class="categories-section__category category">
            <h3 class="h3 category__title">
                Категория услуг 1
            </h3>

            <ul class="category__list">
                <li class="category__item">
                    <a href="#" class="category-item" id="category-item-1">
                        <div class="category-item__info">
                            <span class="category-item__name">
                                Длинное название услуги в одну строку
                            </span>

                            <p class="category-item__desc">
                                Жирмунский, однако, настаивал, что синхрония доступна.
                                Анжамбеман семантически отражает хорей. Представленный
                                лексико-семантический анализ является психолингвистическим
                                в своей основе.
                            </p>
                        </div>
                        <div class="category-item__picture">
                            <picture>
                                <source media="(max-width: 640px)" type="image/webp" srcset="./img/categories/picture-m.webp" alt="categories item image"/>
                                <source media="(min-width: 640px)" type="image/webp" srcset="./img/categories/picture.webp" alt="categories item image"/>
                                <img class="lazy" src="./img/categories/picture.jpg"
                                    alt="categories item image" />
                            </picture>
                        </div>

                        <button type="submit" class="button button--grey button--smaller category-item__button">
                            <span>Подробнее</span>
                            <svg class="icon icon-enter">
                                <use xlink:href="#enter"></use>
                            </svg>
                        </button>
                    </a>
                </li>
                <li class="category__item">
                    <a href="#" class="category-item" id="category-item-2">
                        <div class="category-item__info">
                            <span class="category-item__name">
                                Длинное название услуги в одну строку
                            </span>

                            <p class="category-item__desc">
                                Жирмунский, однако, настаивал, что синхрония доступна.
                                Анжамбеман семантически отражает хорей. Представленный
                                лексико-семантический анализ является психолингвистическим
                                в своей основе.
                            </p>
                        </div>
                        <div class="category-item__picture">
                            <picture>
                                <source media="(max-width: 992px)" type="image/webp" srcset="./img/categories/picture-m.webp" alt="categories item image"/>
                                <source media="(min-width: 992px)" type="image/webp" srcset="./img/categories/picture.webp" alt="categories item image"/>
                                <img class="lazy" src="./img/categories/picture.jpg"
                                    alt="categories item image" />
                            </picture>
                        </div>

                        <button type="submit" class="button button--grey button--smaller category-item__button">
                            <span>Подробнее</span>
                            <svg class="icon icon-enter">
                                <use xlink:href="#enter"></use>
                            </svg>
                        </button>
                    </a>
                </li>
                <li class="category__item">
                    <a href="#" class="category-item" id="category-item-3">
                        <div class="category-item__info">
                            <span class="category-item__name">
                                Длинное название услуги в одну строку
                            </span>

                            <p class="category-item__desc">
                                Жирмунский, однако, настаивал, что синхрония доступна.
                                Анжамбеман семантически отражает хорей. Представленный
                                лексико-семантический анализ является психолингвистическим
                                в своей основе.
                                Жирмунский, однако, настаивал, что синхрония доступна.
                                Анжамбеман семантически отражает хорей. Представленный
                                лексико-семантический анализ является психолингвистическим
                                в своей основе.
                            </p>
                        </div>
                        <div class="category-item__picture">
                            <picture>
                                <source media="(max-width: 992px)" type="image/webp" srcset="./img/categories/picture-m.webp" alt="categories item image"/>
                                <source media="(min-width: 992px)" type="image/webp" srcset="./img/categories/picture.webp" alt="categories item image"/>
                                <img class="lazy" src="./img/categories/picture.jpg"
                                    alt="categories item image" />
                            </picture>
                        </div>

                        <button type="submit" class="button button--grey button--smaller category-item__button">
                            <span>Подробнее</span>
                            <svg class="icon icon-enter">
                                <use xlink:href="#enter"></use>
                            </svg>
                        </button>
                    </a>
                </li>
                <li class="category__item">
                    <a href="#" class="category-item" id="category-item-4">
                        <div class="category-item__info">
                            <span class="category-item__name">
                                Длинное название услуги в одну строку
                            </span>

                            <p class="category-item__desc">
                                Жирмунский, однако, настаивал, что синхрония доступна.
                                Анжамбеман семантически отражает хорей. Представленный
                                лексико-семантический анализ является психолингвистическим
                                в своей основе.
                            </p>
                        </div>
                        <div class="category-item__picture">
                            <picture>
                                <source media="(max-width: 992px)" type="image/webp" srcset="./img/categories/picture-m.webp" alt="categories item image"/>
                                <source media="(min-width: 992px)" type="image/webp" srcset="./img/categories/picture.webp" alt="categories item image"/>
                                <img class="lazy" src="./img/categories/picture.jpg"
                                    alt="categories item image" />
                            </picture>
                        </div>

                        <button type="submit" class="button button--grey button--smaller category-item__button">
                            <span>Подробнее</span>
                            <svg class="icon icon-enter">
                                <use xlink:href="#enter"></use>
                            </svg>
                        </button>
                    </a>
                </li>
            </ul>

            <div class="category__add">
                <a href="#" class="category__add-button callback-button">
                    <svg aria-hidden="true" class="icon icon-arrow">
                        <use xlink:href="#a-d"></use>
                    </svg>
                    <span>Показать ещё</span>
                </a>
            </div>
        </div>
        <div class="categories-section__category category">
            <h3 class="h3 category__title">
                Категория услуг 2
            </h3>

            <ul class="category__list">
                <li class="category__item">
                    <a href="#" class="category-item" id="category-item-11">
                        <div class="category-item__info">
                            <span class="category-item__name">
                                Длинное название услуги в одну строку
                            </span>

                            <p class="category-item__desc">
                                Жирмунский, однако, настаивал, что синхрония доступна.

                            </p>
                        </div>
                        <div class="category-item__picture">
                            <picture>
                                <source media="(max-width: 640px)" type="image/webp" srcset="./img/categories/picture-m.webp" alt="categories item image"/>
                                <source media="(min-width: 640px)" type="image/webp" srcset="./img/categories/picture.webp" alt="categories item image"/>
                                <img class="lazy" src="./img/categories/picture.jpg"
                                    alt="categories item image" />
                            </picture>
                        </div>

                        <button type="submit" class="button button--grey button--smaller category-item__button">
                            <span>Подробнее</span>
                            <svg class="icon icon-enter">
                                <use xlink:href="#enter"></use>
                            </svg>
                        </button>
                    </a>
                </li>
                <li class="category__item">
                    <a href="#" class="category-item" id="category-item-12">
                        <div class="category-item__info">
                            <span class="category-item__name">
                                Длинное название услуги в одну строку
                            </span>

                            <p class="category-item__desc">
                                Жирмунский, однако, настаивал, что синхрония доступна.
                                Анжамбеман семантически отражает хорей. Представленный
                            </p>
                        </div>
                        <div class="category-item__picture">
                            <picture>
                                <source media="(max-width: 992px)" type="image/webp" srcset="./img/categories/picture-m.webp" alt="categories item image"/>
                                <source media="(min-width: 992px)" type="image/webp" srcset="./img/categories/picture.webp" alt="categories item image"/>
                                <img class="lazy" src="./img/categories/picture.jpg"
                                    alt="categories item image" />
                            </picture>
                        </div>

                        <button type="submit" class="button button--grey button--smaller category-item__button">
                            <span>Подробнее</span>
                            <svg class="icon icon-enter">
                                <use xlink:href="#enter"></use>
                            </svg>
                        </button>
                    </a>
                </li>
                <li class="category__item">
                    <a href="#" class="category-item" id="category-item-13">
                        <div class="category-item__info">
                            <span class="category-item__name">
                                Длинное название услуги в одну строку
                            </span>

                            <p class="category-item__desc">
                                Жирмунский, однако, настаивал, что синхрония доступна.
                                Анжамбеман семантически отражает хорей. Представленный
                                лексико-семантический анализ является психолингвистическим
                                в своей основе.
                                Жирмунский, однако, настаивал, что синхрония доступна.
                                Анжамбеман семантически отражает хорей. Представленный
                                лексико-семантический анализ является психолингвистическим
                                в своей основе.
                            </p>
                        </div>
                        <div class="category-item__picture">
                            <picture>
                                <source media="(max-width: 992px)" type="image/webp" srcset="./img/categories/picture-m.webp" alt="categories item image"/>
                                <source media="(min-width: 992px)" type="image/webp" srcset="./img/categories/picture.webp" alt="categories item image"/>
                                <img class="lazy" src="./img/categories/picture.jpg"
                                    alt="categories item image" />
                            </picture>
                        </div>

                        <button type="submit" class="button button--grey button--smaller category-item__button">
                            <span>Подробнее</span>
                            <svg class="icon icon-enter">
                                <use xlink:href="#enter"></use>
                            </svg>
                        </button>
                    </a>
                </li>
                <li class="category__item">
                    <a href="#" class="category-item" id="category-item-14">
                        <div class="category-item__info">
                            <span class="category-item__name">
                                Длинное название услуги в одну строку
                            </span>

                            <p class="category-item__desc">
                                Жирмунский, однако, настаивал, что синхрония доступна.
                                Анжамбеман семантически отражает хорей. Представленный
                                лексико-семантический анализ является психолингвистическим
                                в своей основе.
                            </p>
                        </div>
                        <div class="category-item__picture">
                            <picture>
                                <source media="(max-width: 992px)" type="image/webp" srcset="./img/categories/picture-m.webp" alt="categories item image"/>
                                <source media="(min-width: 992px)" type="image/webp" srcset="./img/categories/picture.webp" alt="categories item image"/>
                                <img class="lazy" src="./img/categories/picture.jpg"
                                    alt="categories item image" />
                            </picture>
                        </div>

                        <button type="submit" class="button button--grey button--smaller category-item__button">
                            <span>Подробнее</span>
                            <svg class="icon icon-enter">
                                <use xlink:href="#enter"></use>
                            </svg>
                        </button>
                    </a>
                </li>
            </ul>

            <div class="category__add">
                <a href="#" class="category__add-button callback-button">
                    <svg aria-hidden="true" class="icon icon-arrow">
                        <use xlink:href="#a-d"></use>
                    </svg>
                    <span>Показать ещё</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="advantages-section section color-white bg-black">
    <div class="advantages-section__site-container">
        <h1 class="advantages-section__title h1">
            <p>
                <span class="color-yellow">New Technologies&nbsp;</span>
                <span>выбирают</span>
            </p>
            <p>
                <span>тысячи людей&nbsp;</span>
                <span class="color-yellow"> по всему миру</span>
            </p>
        </h1>

        <ul class="advantages-section__list">
            <li class="advantages-section__item">
                <span class="advantages-section__count">01</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/trending-up.png" alt="advantages trending up icon">

                    <p>
                        Обеспечиваем&nbsp;<span class="color-yellow">высокий<br> уровень</span>&nbsp;автоматизации<br> и диспетчеризации
                    </p>
                </div>
            </li>
            <li class="advantages-section__item">
                <span class="advantages-section__count">02</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/thumb-up.png" alt="advantages thumb up icon">

                    <p>
                        <span class="color-yellow">3000 +</span>&nbsp;клиентов<br> доверили свои бизнес&shy;-процеессы
                    </p>
                </div>
            </li>
            <li class="advantages-section__item">
                <span class="advantages-section__count">03</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/transport.png" alt="advantages transport icon">

                    <p>
                        <span class="color-yellow">Быстрая доставка</span><br> оборудования&nbsp;с<br> гарантией
                    </p>
                </div>
            </li>
            <li class="advantages-section__item">
                <span class="advantages-section__count">04</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/support.png" alt="advantages support icon">

                    <p>
                        Все сделки&nbsp;<span class="color-yellow">проводятся с договорами</span>&nbsp;и гарантией&nbsp;с<br> нашей стороны
                    </p>
                </div>
            </li>
            <li class="advantages-section__item">
                <span class="advantages-section__count">05</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/trending-up.png" alt="advantages trending up icon">

                    <p>
                        Обеспечиваем&nbsp;<span class="color-yellow">высокий<br> уровень</span>&nbsp;автоматизации<br> и диспетчеризации
                    </p>
                </div>
            </li>
            <li class="advantages-section__item">
                <span class="advantages-section__count">06</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/thumb-up.png" alt="advantages thumb up icon">

                    <p>
                        <span class="color-yellow">3000 +</span>&nbsp;клиентов<br> доверили свои бизнес&shy;-процеессы
                    </p>
                </div>
            </li>
            <li class="advantages-section__item">
                <span class="advantages-section__count">07</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/transport.png" alt="advantages transport icon">

                    <p>
                        <span class="color-yellow">Быстрая доставка</span><br> оборудования&nbsp;с<br> гарантией
                    </p>
                </div>
            </li>
            <li class="advantages-section__item">
                <span class="advantages-section__count">08</span>

                <div class="advantages-section__info">
                    <img src="./img/advantages/support.png" alt="advantages support icon">

                    <p>
                        Все сделки&nbsp;<span class="color-yellow">проводятся с договорами</span>&nbsp;и гарантией&nbsp;с<br> нашей стороны
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

{{/content}}
{{/extend}}
