.expand {
    display: flex;

    @include breakpoint(tablet) {
        font: 1.6rem/1.5 var(--main-ff);
    }

    &::before {
        color: var(--black-100, #254558);
        transition: color var(--transition);
        content: attr(data-text);
    }

    &::after {
        display: block;

        width: 2.4rem;
        height: 2.4rem;
        margin-left: 0.6rem;

        background-image: url("data:image/svg+xml, %3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M5.46967%208.46967C5.76256%208.17678%206.23744%208.17678%206.53033%208.46967L12%2013.9393L17.4697%208.46967C17.7626%208.17678%2018.2374%208.17678%2018.5303%208.46967C18.8232%208.76256%2018.8232%209.23744%2018.5303%209.53033L12.5303%2015.5303C12.2374%2015.8232%2011.7626%2015.8232%2011.4697%2015.5303L5.46967%209.53033C5.17678%209.23744%205.17678%208.76256%205.46967%208.46967Z%22%20fill%3D%22%237C8F9B%22%2F%3E%0A%3C%2Fsvg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        will-change: transform;
        transform-origin: center;
        transition: var(--transition);
        content: "";
    }

    @include hover-active {
        &::before {
            color: var(--blue-100, #1ED2F4);
        }
    }
}
