:root {
    // layouts properties:
    --max-container-width: 168.8rem;
    --content-padding: 3rem;
    --header-height: 15.2rem;
    --breadcrumbs-height: 5.7rem;

    // colors:
    --black-100: #254558;
    --black-80: #516A79;
    --black-60: #7C8F9B;
    --black-40: #A8B5BC;
    --black-20: #D3DADE;
    --black-10: #F4F6F7;

    --yellow-100: #EAFC40;
    --yellow-80: #EEFD66;
    --yellow-60: #F1FD81;
    --yellow-40: #F7FEB3;
    --yellow-20: #FBFED9;

    --grey-100: #F4F5F6;

    --blue-100: #1ED2F4;
    --blue-80: #4BDBF6;
    --blue-60: #6BE1F8;
    --blue-40: #A5EDFB;
    --blue-20: #D2F6FD;

    --white-color: #fff;
    --border-color: rgba(58, 61, 62, 0.2);
    --back-color: #182E3B;


    // typography:
    --main-ff: "Roboto", sans-serif;
    --second-ff: "Mulish", serif;
    --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;

    --font-h-second-72: 600 7.2rem/1.25 var(--second-ff);
    --font-h-second-52: 600 5.2rem/1.25 var(--second-ff);
    --font-h-second-36: 500 3.6rem/1.25 var(--second-ff);
    --font-h-second-22: 600 2.2rem/1.27 var(--second-ff);
    --font-p-second-18: 400 1.8rem/1.27 var(--second-ff);

    --font-p-main-14: 300 1.4rem/1.1428 var(--main-ff);
    --font-p-main-16: 300 1.6rem/1.1875 var(--main-ff);
    --font-p-main-18: 400 1.8rem/1.5 var(--main-ff);

    // etc.:
    --swiper-navigation-size: 1.6rem;
    --swiper-theme-color: var(--black-100);
    --transition: 0.2s ease;

    @include breakpoint(laptop) {
        --font-h-second-72: 600 6.2rem/1.25 var(--second-ff);
    }

    @include breakpoint(tablet) {
        --content-padding: 2rem;
        --header-height: 8rem;

        --font-h-second-72: 600 2.4rem/1.25 var(--second-ff);
        --font-h-second-52: 600 2.4rem/1.25 var(--second-ff);
        --font-h-second-36: 500 2.4rem/1.25 var(--second-ff);
        // --font-h-second-22: 600 2.2rem/1.27 var(--second-ff);
        // --font-p-second-18: 400 1.8rem/1.27 var(--second-ff);

        --font-p-main-18: 400 1.4rem/1.5 var(--main-ff);
    }

    @include breakpoint(portrait-tablet) {
        --content-padding: 1rem;
    }
}


*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    -webkit-text-size-adjust: 100%;

    @include breakpointMF(desktop) {
      font-size: 10px;
      font-size: clamp(8px, 0.52vw, 25px);
    }

    @include breakpointMF(large-desktop) {
      font-size: 10px;
      font-size: clamp(10px, 0.52vw, 25px);
    }

    @include breakpointMF(fullHd-desktop) {
      font-size: 10px;
      font-size: clamp(8px, 0.4vw, 25px);
    }

    @include noHighlight();
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    color: var(--black-100, #254558);
    font: var(--font-p-main-18);

    background-color: var(--grey-100, #F4F5F6);

    &.mobile-menu-is-visible {
        overflow-y: scroll;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}

main {
    display: block;
}

ul,
ol {
    list-style: none;
}

ol {
    counter-reset: ordered-list;
    & > li {
        counter-increment: ordered-list;
        &::before {
            content: counter(ordered-list, decimal-leading-zero) '.';
        }
    }
}

input,
textarea {
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    display: block;
}

input:not([type='checkbox']):not([type='radio']) {
    appearance: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
    box-shadow: none;
    display: block;
    width: 100%;
    overflow: auto;
    height: 20rem;
    @include customScrollbar();
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

input[type='search'] {
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    font: inherit;
    color: inherit;
    outline: none;
    display: inline-flex;
    position: relative;
    transition: color 0.2s;
}

a {
    background-color: transparent;
    text-decoration: none;
    transition: color 0.2s;
    &:link,
    &:visited {
        color: inherit;
    }
}

svg {
    display: block;
    flex-shrink: 0;
    fill: currentColor;
    transition: fill 0.2s;
}

img {
    border-style: none;
    max-width: 100%;
    display: block;
}

img[data-sizes='auto'] {
    display: block;
    width: 100%;
}

img.lazyload:not([src]) {
    visibility: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th {
    font-weight: 400;
}

td,
th {
    text-align: left;
    vertical-align: top;
}

::selection {
    color: white;
    background-color: var(--black-40, #A8B5BC);
    -webkit-text-fill-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent;
}

[class*="ymaps-2"][class*="-ground-pane"]{
    filter: grayscale(1) brightness(1);
}

.ya-placemark {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;

    cursor: pointer;

    .icon {
        width: 7.4rem;
        height: 7.4rem;
        flex-shrink: 0;

        @include breakpoint(portrait-tablet) {

        }
    }

    &--red {
        background-color: var(--accent);
    }
  }
