.padding-top-header {
    padding-top: var(--header-height, 15.2rem);
}

.padding-top-breadcrumbs {
    padding-top: calc(var(--header-height, 15.2rem) + var(--breadcrumbs-height, 5.7rem));
}

.color-white {
    color: var(--white-color, #fff);
}

.color-yellow {
    color: var(--yellow-100, #EAFC40);
}

.bg-black {
    background-color: var(--back-color, #182E3B);
}

.h3 {
    font: var(--font-h-second-36);
}

.h2 {
    font: var(--font-h-second-52);
}

.h1 {
    font: var(--font-h-second-72);
}


.visually-hidden {
    @include visuallyHidden();
}

.no-scroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    body {
        height: auto;
        overflow: hidden;
    }
}

.hide-on-mobile {
    @include breakpoint(portrait-tablet) {
        display: none !important;
    }
}

.show-on-mobile {
    @include breakpointMF(portrait-tablet) {
        display: none !important;
    }
}
